h1{
  text-align: center;
  margin: 3%;

}
body{
  background-image: url(images/wildlife-wide.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.normal{
  margin-right: 10%;
  background-color: #acb4c1;
  margin-left: 8%;
}
.endangered{
  background-color: #acb4c1;

}
.showanimals{
  margin-top: 4%;

}
#age, #health, .sight{
  width: 100%;
}
.display{
  /*font-size: 2em;*/
}
.sighting{
  margin: 2%;
}
